.portfolio.dark h1 {
  color: white;
}

.portfolio-tabs.dark p {
  color: #a6a6a6;
}

.portfolio-tabs p:hover {
  cursor: pointer;
  color: #00b4d8;
}

.portfolio-tabs.dark .active {
  color: #00b4d8;
}

.card.dark,
.card.dark {
  background-color: #0d0d0d;
  border: 1px solid #353535;
}

.card.dark .subtitle {
  color: #a6a6a6;
}

.card.dark .title {
  color: white;
}
