@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Permanent+Marker&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Bree+Serif&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Permanent+Marker&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Bree+Serif&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Permanent+Marker&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rakkas&family=Righteous&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&display=swap");
.portfolio {
  display: flex;
  flex-direction: column;
}

.portfolio h1 {
  font-family: "Righteous", sans-serif;
  font-size: 42px;
}

.portfolio-tabs {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  margin: 0;
  font-size: 22px;
  font-weight: 500;
  font-family: "Rakkas", serif;
}

.portfolio-tabs p:hover {
  cursor: pointer;
  color: #00b4d8;
}

.portfolio-tabs .active {
  color: #00b4d8;
}

.portfolio-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 20px;
  font-family: "Arvo", serif;
}

.card:nth-child(1n) {
  background-color: #edf6f9;
}

.card:nth-child(2n) {
  background-color: #ffe5ec;
}

.card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card.long img {
  height: 190px;
}

.card img:hover {
  transform: scale(1.1);
  transition: 0.5s all ease-in-out;
}

.subtitle {
  font-size: 14px;
  margin: 0;
}

.card a {
  text-decoration: none;
  color: black;
}

a .title {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

@media screen and (max-width: 1300px) {
  .portfolio h1::after {
    left: 64%;
    top: 65%;
  }
}

@media screen and (max-width: 1024px) {
  .portfolio-cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}

@media screen and (max-width: 992px) {
  .portfolio-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}

@media screen and (max-width: 768px) {
  .portfolio-cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .portfolio-tabs {
    flex-wrap: wrap;
    row-gap: 10px;
    margin-bottom: 20px;
  }

  .portfolio-tabs p {
    margin: 0;
  }
}
