.navbar-links.dark {
  background-color: black;
}

.tab.dark {
  background-color: #212425;
  color: white;
}

.tab.dark:hover {
  cursor: pointer;
  color: #00b4d8;
}

.navbar-toggle.dark {
  background-color: black;
  color: white;
}

@media screen and (max-width: 992px) {
  .tab.dark {
    background-color: black;
  }
}
