.tabs.dark {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  background-color: black;
  border-radius: 20px;
}

.tab:not(.active).dark {
  background-color: #212425;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.tab.dark {
  color: #a6a6a6;
}

button.tab.active.dark {
  color: white;
}

button.tab.dark:hover {
  background-color: #00b4d8;
  color: white;
}

#mobile-icon-dark button {
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

#mobile-icon-dark button:hover {
  background-color: #00b4d8;
}

@media screen and (max-width: 992px) {
  #mobile-icon-dark {
    display: block;
    position: absolute;
    top: -70px;
  }

  .nav-tabs.dark {
    background-color: black;
    box-shadow: 0 6px 6px hsla(0, 0%, 93%, 0.2);
  }

  button.tab.dark:not(.active) {
    color: white;
    background-color: black;
  }

  button.tab.dark.active {
    color: #00b4d8;
    background-color: black;
  }

  button.tab.dark {
    color: white;
  }

  .tabs.dark {
    background-color: transparent;
  }
}
