.navbar-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
}

.navbar-links.active {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
}

.tab {
  width: 84px;
  height: 84px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  font-size: 18px;
  font-family: "Roboto Slab", serif;
  border: none;
  color: #44566c;
}

.tab.active {
  background-color: #00b4d8;
}

.tab:hover {
  cursor: pointer;
  color: #00b4d8;
}

.navbar-toggle {
  display: none;
  cursor: pointer;
}

.navbar-toggle {
  display: block;
  position: absolute;
  top: -69px;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

@media screen and (max-width: 992px) {
  .navbar-links {
    display: none;
  }

  .navbar-container {
    flex-direction: column-reverse;
    align-items: flex-end;
    box-sizing: border-box;
  }

  .tab {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border: none;
    background-color: white;
    padding: 5px 70px;
  }

  .navbar-toggle {
    margin-right: 50px;
  }
}

@media screen and (max-width: 900px) {
  .navbar-toggle {
    margin-right: 0;
  }
}
