.theme {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.theme button {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.theme button:hover {
  cursor: pointer;
}

.theme.dark button {
  background-color: black;
}

.theme button img {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 992px) {
  .theme {
    width: 90%;
  }
}

@media screen and (max-width: 910px) {
  .theme {
    width: 85%;
  }
}

@media screen and (max-width: 770px) {
  .theme {
    width: 80%;
  }
}

@media screen and (max-width: 481px) {
  .theme {
    width: 75%;
  }
}
