.contact.dark h1 {
  color: white;
}

.contact-me.dark {
  background-color: #0d0d0d;
  border-radius: 15px;
}

.contact-me.dark p,
.contact-me.dark h2 {
  color: white;
}

.contact-me.dark p.message.dark {
  color: #affc41;
}

.contact-form.dark input,
.contact-form.dark textarea {
  border-bottom: 1px solid #353535;
  background-color: #0d0d0d;
  color: white;
}

.contact-form.dark button {
  color: white;
  border: 1px solid #353535;
  border-radius: 10px;
}
