@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Permanent+Marker&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Bree+Serif&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Permanent+Marker&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Bree+Serif&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Permanent+Marker&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rakkas&family=Righteous&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&display=swap");
.contact {
  display: flex;
  flex-direction: column;
}

.contact h1 {
  font-family: "Righteous", sans-serif;
  font-size: 42px;
}

.contact p {
  font-size: 25px;
  font-weight: 400;
  font-family: "Rakkas", serif;

  margin: 0;
  margin-bottom: 13px;
}

.contact h2 {
  margin: 0;
  font-family: "Rakkas", serif;
}

.contact-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  background-color: #f4feff;
  box-sizing: border-box;
  padding: 50px;
  border-radius: 20px;
}

.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 30px;
}

.contact-form div {
  height: 55px;
}

.contact-form input {
  height: 40px;
  outline: none;
  border: none;
  border-bottom: 1px solid #b5b5b5;
  background-color: #f4feff;
  transition: 3s;
  font-size: 18px;
  font-family: "Arvo", serif;
  padding: 6px;
  width: 90%;
}

.contact-form textarea {
  resize: none;
  outline: none;
  border: none;
  border-bottom: 1px solid #b5b5b5;
  background-color: #f4feff;
  transition: 3s;
  font-size: 18px;
  font-family: "Arvo", serif;
  padding: 6px;
  width: 90%;
}

.contact-form input:focus,
textarea:focus {
  border-bottom: 2px solid #00b4d8;
}

.contact-form button {
  height: auto;
  padding: 12px 25px;
  background-color: transparent;
  font-size: 18px;
  font-family: "Arvo", serif;
  font-weight: 700;
  width: max-content;
  border-radius: 10px;
  border: 1px solid #44566c;
  transition: all 0.4s ease-in-out;
  margin-top: 70px;
}

.contact-form button:hover {
  background-color: #00b4d8;
  color: white;
  cursor: pointer;
  border: 1px solid white;
  transform: translateY(-3px);
}

.message {
  font-size: 22px;
  color: green;
}

.message.dark {
  color: lightgreen;
}

.error {
  font-size: 14px;
  color: red;
  margin: 0;
}

@media screen and (max-width: 1300px) {
  .contact h1::after {
    left: 63%;
    top: 65%;
  }
}

@media screen and (max-width: 1024px) {
  .contact-me {
    padding: 0;
  }
}

@media screen and (max-width: 992px) {
  .contact-me {
    padding: 50px;
  }
}

@media screen and (max-width: 768px) {
  .contact-me {
    padding: 20px;
  }
}

@media screen and (max-width: 480px) {
  .contact p,
  .contact h2 {
    font-size: 22px;
  }
}
