.education-title.dark h2 {
  color: white;
}

.education-card.bg-1.dark,
.education-card.bg-2.dark {
  background-color: black;
}

.education-card.dark {
  border: 1px solid #353535;
}

.education-card.dark p {
  color: #a6a6a6;
}

.education-card.dark .profile {
  color: white;
}
