.personal-web-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.personal-web-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: white;
  box-sizing: border-box;
  padding: 60px;
  background-color: white;
  border-radius: 20px;
}

@media screen and (max-width: 1300px) {
  .personal-web-content {
    padding: 40px;
  }
}

@media screen and (max-width: 992px) {
  .personal-web-container {
    position: static;
    width: 100%;
    margin-bottom: 70px;
  }

  .navigation-bar {
    position: absolute;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    top: 140px;
  }
}

@media screen and (max-width: 700px) {
  .personal-web-container {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 540px) {
  .personal-web-content {
    padding: 30px;
  }
}

@media screen and (max-width: 480px) {
  .personal-web-container {
    margin-bottom: 20px;
  }
}
