.personal-web-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 40px;
}

.personal-web-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: white;
  box-sizing: border-box;
  padding: 60px;
  background-color: white;
  border-radius: 20px;
}

@media screen and (max-width: 1300px) {
  .personal-web-content {
    padding: 40px;
  }
}

@media screen and (max-width: 992px) {
  .personal-web-container {
    position: static;
    width: 100%;
  }
}

@media screen and (max-width: 540px) {
  .personal-web-content {
    padding: 30px;
  }
}
